<!DOCTYPE html>
<html leng="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/login/loginForm.css"/>
</head>

<body>
    <main class="layout-main">
        <div class="signup-container" >
            <h1>로그인</h1>
            <form class="signup-form" action="/loginAction" th:action method="POST" th:object="${loginForm}">
                <!-- 아이디 -->
                <div>
                    <label for="username">아이디</label>
                    <input type="text" id="username" th:field="*{loginId}" th:errorclass="field-error-input"
                           placeholder="아이디를 입력하세요" required />
                    <div class="field-error" th:errors="*{loginId}"></div>
                </div>

                <!-- 비밀번호 -->
                <div>
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" th:field="*{password}" th:errorclass="field-error-input"
                           placeholder="비밀번호를 입력하세요" required />
                    <div class="field-error" th:errors="*{password}"></div>
                </div>

                <!-- 글로벌 에러 표시 영역 -->
                <div th:if="${#fields.hasGlobalErrors()}" class="field-error">
                    <ul>
                        <li th:each="err : ${#fields.globalErrors()}"
                            th:text="${err}">오류 메시지</li>
                    </ul>
                </div>

                <br>
                <button type="submit">로그인</button>

                <div class="extra-link">
                    아직 회원이 아니신가요?
                    <a href="/join">회원가입</a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>